<div class="min-h-screen h-full grid lg:grid-cols-6 gap-4">
  <lista-clientes
    [clientesComAtraso]="clientesComAtraso"
    [todosClientes]="todosOsClientes"
    (openClientContracts)="onClienteSelecionado($event)"
    class="h-full lg:col-span-1"
  ></lista-clientes>
  <lista-contratos
    [contratosComParcelaAtrasada]="contratosComParcelaAtrasada"
    [todosContratos]="todosOsContratos"
    [cliente]="clienteSelecionado"
    (novoContratoSelecionado)="onContratoSelecionado($event)"
    [ngClass]="contratoSelecionado ? 'lg:col-span-3' : 'lg:col-span-5'"
    class="transition-all duration-300"
  ></lista-contratos>
  <lista-pagamentos
    (atualizarDados)="atualizarDados()"
    [todosPagamentos]="todosOsPagamentos"
    *ngIf="contratoSelecionado"
    [contratoSelecionado]="contratoSelecionado"
    (fechar)="contratoSelecionado = null"
    class="lg:col-span-2"
  ></lista-pagamentos>
</div>
